<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <servlet>
    <servlet-name>SiteMap</servlet-name>
    <servlet-class>com.cisco.nm.uii.servlet.siteMapLoader</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>ettx_admin</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>1</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.cisco.ettx.admin.gui.web.servlet.ETTXAdminController</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.cisco.ettx.admin.i18n.ettx</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>UIIAuthenticateImpl</param-name>
      <param-value>com.cisco.ettx.admin.gui.web.security.GuiAuthentication</param-value>
    </init-param>
    <init-param>
      <param-name>UIIAuthorizeImpl</param-name>
      <param-value>com.cisco.ettx.admin.gui.web.security.GuiAuthorization</param-value>
    </init-param>
    <init-param>
      <param-name>ETTX_ADMIN_GUI_HOME</param-name>
      <param-value>GUIHOME</param-value>
    </init-param>
    <init-param>
      <param-name>ETTX_SERVICES_URL</param-name>
      <param-value>http://SERVERHOST:SERVERPORT/ettx_admin_server/services/adminServices</param-value>
    </init-param>
    <init-param>
      <param-name>ETTX_DEFAULT_HOST_PROMPT</param-name>
      <param-value>HOSTPROMPT</param-value>
    </init-param>
    <init-param>
      <param-name>ETTX_CLIENT_TIMEOUT</param-name>
      <param-value>180000</param-value>
    </init-param>
    <init-param>
      <param-name>userLocaleLanguage</param-name>
      <param-value>en</param-value>
    </init-param>
    <init-param>
      <param-name>userLocaleCountry</param-name>
      <param-value>US</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>goHome.do</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/WEB-INF/tlds/uii-framework-taglib.tld</taglib-uri>
    <taglib-location>/WEB-INF/tlds/uii-framework-taglib.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tlds/uii-contentarea-taglib.tld</taglib-uri>
    <taglib-location>/WEB-INF/tlds/uii-contentarea-taglib.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://jakarta.apache.org/taglibs/i18n</taglib-uri>
    <taglib-location>/WEB-INF/taglibs-i18n.tld</taglib-location>
  </taglib>
</web-app>
