# Set root category priority to DEBUG and its appenders.
auditlog.listeners=spe_events

# describes spe_events will contain subject name and the parser to parse the event REVISIT
auditlog.spe_events.subject=COM.CISCO.CNS.SPE.>
auditlog.spe_events.parser=com.cisco.ettx.admin.auditlog.SPEEventParser
auditlog.spe_events.attributes=EventId,EventName,RequestId,Time,ObjectName,ClassName,UserName,ApplicationName,Message
auditlog.spe_events.separator=,
